.allOfItemsContainer{
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
	float:none;
	margin-bottom:10px;
	margin-top:10px;
}

.itemContainer{
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    padding:10px;
    width: 320px;
	min-height:280px;
    background-color:#e4e4e4;
    border: 1px solid #ffcc33;
    margin:5px;
    color:black;
	float:left;
	border-radius:10px 10px 10px 10px;
}



a{
    text-decoration:none;
    color: #b75400;
}

a:hover{
    text-decoration:none;
    color: #491e00;
}

.toCalendar{
    width: 480px;
    margin-left: auto;  
    float:none;
}

.fc-center h2{
    font-size: 15px !important;
}

.fc-toolbar {
    max-height: 30px;
}

#calendar {
	margin-left:auto;
	margin-right:auto;
    max-width: 480px !important;
    background-color: !important;
    color: black;
} 

#calendar a{
 background-color:#ff7500 !important;
 border: 1px solid #d56737;
}
/*
#calendar td{
 background-color:green !important;
}

#calendar th{
 background-color:blueviolet !important;
 color:darkred;
}
*/

.itemContainer a{
    color: #282828;
    text-shadow: 1px 1px 2px #6d5f5f;
}

.help{
    text-align:center;
    margin-top:35px;
}
.photoOfItemFloat img{
    max-width: 480px !important;
    align-items:center;
}

.itemContainer img{
    max-width: 300px;
	max-height: 200px;
	border-radius:5px 5px 5px 5px;
}

.leftHalfOfItem{
	border-radius:5px 5px 5px 5px;
    background-color: #d2d2d2;
    width: 300px;
    display:block;
	margin-left: auto;
	margin-right: auto;
}

.rightHalfOfItem{
    background-color:#cbcbcb;
    width: 300px;
	margin-top:10px;
    margin-bottom:10px;
    margin-left: auto;
	margin-right: auto;
    display:block;
	border-radius:5px 5px 5px 5px;
}

.photoOfItem {
    text-align: center;
    width: 300px;
    margin-top: 10px;

}



/*ONE ITEM PRESENTATION*/
.oneItemContainer{
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    padding:10px;
    width: 990px;
    background-color:#e4e4e4;
    border-radius: 20px 20px 20px 20px;
    margin-bottom:10px;
    margin-top:10px;
    color:black;
}

.leftHalfOfOneItem{
    border-radius: 15px 0px 0px 0px;
    background-color:#acacac;
    width: 480px;
    float:left;
    display:block;
}

.rightHalfOfOneItem{
    float:none;
    border-radius: 0px 15px 0px 0px;
    background-color:#acacac;
    width: 480px;
    margin-bottom:10px;
    margin-left: auto;
    display:block;
}

.photoOfItemFloat{
    width: 480px;
    height: 380px;
    margin-top:20px;
    min-height: 80px;
    margin-left: auto;
    float:left !important;
    display:block !important;
}

.descriptionOfItem{
    background-color:#acacac;
    width: 970px;
    margin-left: auto;
	margin-right: auto;
    margin-top:10px;
    border-radius: 0px 0px 15px 15px;
}

.ui-datepicker{
    background-color:#fff4ec;
    opacity:0.8;
    padding:5px;
    border:1px solid #6f6f6f;
    border-radius: 8px;

}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
  background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: linear-gradient(top,  #ededed 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  filter: dropshadow(color=#4d7a85, offx=0, offy=1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}