.itemContainer{
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    padding:10px;
    width: 990px;
    background-color:#e4e4e4;
    border-radius: 20px 20px 20px 20px;
    margin-bottom:10px;
    margin-top:10px;
    color:black;
}

a{
    text-decoration:none;
    color: #b75400;
}

a:hover{
    text-decoration:none;
    color: #491e00;
}

.toCalendar{
    width: 480px;
    margin-left: auto;  
    float:none;
}

.fc-center h2{
    font-size: 15px !important;
}

.fc-toolbar {
    max-height: 30px;
}

#calendar {
    max-width: 480px !important;
    background-color: !important;
    color: black;
} 

#calendar a{
 background-color:#ff7500 !important;
 border: 1px solid #d56737;
}
/*
#calendar td{
 background-color:green !important;
}

#calendar th{
 background-color:blueviolet !important;
 color:darkred;
}
*/

.itemContainer a{
    color: #282828;
    text-shadow: 1px 1px 2px #6d5f5f;
}

.help{
    text-align:center;
    margin-top:35px;
}
.photoOfItemFloat img{
    max-width: 480px !important;
    align-items:center;
}

.itemContainer img{
    max-width: 970px;
}

.leftHalfOfItem{
    border-radius: 15px 0px 0px 0px;
    background-color:#acacac;
    width: 480px;
    float:left;
    display:block;
}

.rightHalfOfItem{
    float:none;
    border-radius: 0px 15px 0px 0px;
    background-color:#acacac;
    width: 480px;
    margin-bottom:10px;
    margin-left: auto;
    display:block;
}

.photoOfItem{
    text-align:center;
    width: 970px;
    margin-top:10px;
    margin-bottom:10px;

}
.photoOfItemFloat{
    width: 480px;
    height: 400px;
    margin-left: auto;
    float:left !important;
    display:block !important;
}


.descriptionOfItem{
    background-color:#acacac;
    width: 970px;
    margin-left: auto;
	margin-right: auto;
    margin-top:10px;
    border-radius: 0px 0px 15px 15px;
}