body {
	background-color: #505050;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0px;
    text-align: center;
}

.cen {
    text-align:center;
    margin-left:225px;
}

.wrapper {
	width: 100%;
	min-width: 1350px;
}

.header {
	width: 1000px;
	color: #3388ee;
	padding: 20px 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 40px;
}
/*padding pierwsza wartosc oznacza zapis w pionie a druga w poziomie */
.container {
	min-height: 500px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
    font-size: 15px;
}

.container p{
    font-size: 20px;
    text-align:justify;
    text-indent: 40px;
	padding-top:10px;
}

.socialmedia {
	width: 1000px;
	text-align: center;
	background-color: #404040;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-decoration: none;
	border-radius: 20px 20px 0px 0px;
}
.socialmedia:hover {
	color:white;
}
.footer {
	width: 1000px;
	text-align: center;
	background-color: #303030;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.fb {
	width: 333px;
	height: 110px;
	float: left;
	border-radius: 20px 0px 0px 0px;
}

.fb:hover {
	background-color: #4668b3;
}

.yt {
	width: 333px;
	height: 110px;
	float: left;
}

.yt:hover {
	background-color: #d94348;
    text-decoration:none;
}

.tw {
	width: 333px;
	height: 110px;
	float: left;
	border-radius: 0px 20px 0px 0px;
}

.tw:hover {
	background-color: #3095d3;
}

.navigation {
	width: 1000px;
	text-align: center;
	height: 45px;
	background-color: #55bbff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #88eeff;
	border-radius: 20px 20px 20px 20px;
}

.move {
	width: 175px;
	height: 217px;
	position: fixed;
	left: 0;
	z-index: 100;
	border-radius: 0px 20px 20px 0px;
}

ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 22px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a {
	color: white;
	text-decoration: none;
	display: block;
}

/* ol > li =dziedziczenie */
ol>li {
	float: left;
	width: 170px;
	height: 43px;
}

.move>ol>li {
	float: none;
}

.move ol>li:first-child {
	border-radius: 0px 20px 0px 0px;
}

.move ol>li:last-child {
	border-radius: 0px 0px 20px 0px;
}

ol>li:hover {
	background-color: #4499ff;
}

ol>li:hover>a {
    text-decoration:none;
	color: #0044aa;
	transition: all 0.4s;
	transform: scale(1.1);
}

.listOfUsers {
	text-align:center;
	color: #808080;
	font-size: 17px;
	max-width: 1000px;
}

.listOfUsers a:hover {
	color: white;
	text-decoration: none;
}

.listOfUsers tr:hover {
	color: #404040;
	text-decoration: none;
}

.listOfUsers tr>td>a {
	display: block;
	text-decoration: none;
	color: #505050;
}

.listOfUsers tr>td>a:hover {
	transition: all 0.4s;
	transform: scale(1.1);
	color: #55bbff;
}

table {
    background-color: #505050;
	border: #ccc 1px solid;
	text-shadow: 0px 0px 10px #a7a7a7;
	box-shadow: 1px 1px 5px #d1d1d1;
}

table th {
	background: #6c6c6c;
	color: #033356;
    text-align:center;
}

/*do ewentualnej implementacji
table tr {

}
*/

table td {
	padding: 3px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #626262
}

.properties {
	color: white;
	text-align: center;
	text-decoration: none;
}

.properties a {
	margin: 8px;
	display:block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.properties a:HOVER {
	transition: all 0.4s;
	transform: scale(1.1);
	color: #55bbff; 
}

.smallContainer{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}
.smallContainer2{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
.smallContainerCenter{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.smallContainerCenter a{
    text-decoration:none;
    display:block;
}

.smallContainerCenter a:hover{
    transition: all 0.4s;
    transform: scale(1.1);
	color: #55bbff; 
}