<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseAccess.Properties.Settings.MyGraduationProjectDatabaseConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication1-20160819032236.mdf;Initial Catalog=MyGraduationProjectDatabase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseAccess.Properties.Settings.MyGraduationProject_DatabaseConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication1-20160819032236.mdf;Initial catalog=MyGraduationProjectDatabase;Integrated Security=True;MultipleActiveResultSets=True;"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseAccess.Properties.Settings.MyGraduationProjectDatabaseConnectionString1"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Misiek\Desktop\MyGraduationProject\MyGraduationProject\App_Data\aspnet-WebApplication1-20160819032236.mdf;Initial Catalog=MyGraduationProjectDatabase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>