@model MyGraduationProject.Models.AssortmentContainer
@{
    ViewBag.Title = "ajaks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlProperties").change(function () {
            var propertyId = $("#ddlProperties").val();
            console.log(propertyId);
            $("#dvPropertiesResults").load('@(Url.Action("GetPropValues","Home",null, Request.Url.Scheme))?propertyId=' + propertyId);
        });
    });
</script>  

<h2>ajaks</h2>

<div class="box">
    <div class="loginContainer">
   @*  @using (Html.BeginForm())
    { *@
        @Html.DropDownListFor(m => m.properties,
        new SelectList(Model.properties, "PROPERTY_ID", "NAME"), new { id = "ddlProperties", @class = "form-control" })
        <hr />
        <div id="dvPropertiesResults">
            @{Html.RenderPartial("_ajaks", Model.pValues);}
        </div>
       @* <input type="submit" value="Wyslij" class="btn btn-default" />
    }*@
    </div>
</div>