
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
        <h1>Kontakt</h1>
        <div class="smallContainer2">
            <dl class="dl-horizontal">
                <dt>
                    miasto.
                </dt>

                <dd>
                    Łódź
                </dd>
                <dt>
                    kod pocztowy.
                </dt>

                <dd>
                    90-238
                </dd>
                <dt>
                    ulica.
                </dt>

                <dd>
                    Banacha 22
                </dd>
                <dt>
                    tel.
                </dt>

                <dd>
                    042 111-11-11
                </dd>
                <dt>
                    fax.
                </dt>

                <dd>
                    042 000-00-00
                </dd>
                <dt>
                    email.
                </dt>

                <dd>
                    ProjektDyplomowy@math.uni.lodz.pl
                </dd>
            </dl>
        </div>