
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="container">
    <h1>Kontakt</h1>
    <div class="smallContainer2">
        <dl class="dl-horizontal">
            <dt>
                miasto.
            </dt>

            <dd>
                Łódź
            </dd>
            <dt>
                kod pocztowy.
            </dt>

            <dd>
                90-238
            </dd>
            <dt>
                ulica.
            </dt>

            <dd>
                Banacha 22
            </dd>
            <dt>
                tel.
            </dt>

            <dd>
                042 111-11-11
            </dd>
            <dt>
                fax.
            </dt>

            <dd>
                042 000-00-00
            </dd>
            <dt>
                email.
            </dt>

            <dd>
                ProjektDyplomowy@math.uni.lodz.pl
            </dd>
        </dl>
    </div>
      <div style="font-size:20px;">
          Aby założyć konto w naszym serwisie należy wysłać wiadomość na adres <span style="color:#650000">MyGraduationProject.Registration@math.uni.lodz.pl</span>.<br />
          W wiadomości prosimy o podanie <span style="font-weight:bold;">Loginu(i jego alternatywnej wersji w razie wystąpienia problemów), hasła, imienia i nazwiska, kompletnych danych adresowych i numeru pesel.</span>
          <br/>Wszystkie dane powinny zostać potwierdzone załącznikiem w postaci skanu dowodu osobistego.
      </div>
</div>